# git - Is it possible to include a file in your .gitconfig - Stack Overflow http://stackoverflow.com/questions/1557183/is-it-possible-to-include-a-file-in-your-gitconfig
[include]
	path = ~/.gitconfig_local

[core]
	pager = delta
	quotepath = false
	editor = vim
	filemode = false
	autocrlf = false
	safecrlf = true
	ignorecase = false
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[log]
	# command line - How to change git log date formats - Stack Overflow http://stackoverflow.com/questions/7853332/how-to-change-git-log-date-formats
	date = iso

[format]
	pretty = format:%C(bold blue)%ad%Creset %Cred%h%Creset %Cgreen%d%Creset %s %C(yellow)<%an:%ae>%Creset

[credential]
	helper = osxkeychain

[interactive]
	diffFilter = delta --color-only

# dandavison/delta: A syntax-highlighting pager for git, diff, and grep output
# https://github.com/dandavison/delta
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
