# git - Is it possible to include a file in your .gitconfig - Stack Overflow http://stackoverflow.com/questions/1557183/is-it-possible-to-include-a-file-in-your-gitconfig
[include]
	path = ~/.gitconfig_local

[core]
	pager = 
	quotepath = false
	editor = vim
	filemode = false
	autocrlf = input
	ignorecase = false
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[log]
	# command line - How to change git log date formats - Stack Overflow http://stackoverflow.com/questions/7853332/how-to-change-git-log-date-formats
	date = iso

[format]
	pretty = format:%C(bold blue)%ad%Creset %Cred%h%Creset %Cgreen%d%Creset %s %C(yellow)<%an:%ae>%Creset

[credential]
	helper = osxkeychain
